.fixed_bar{
    position: fixed;
    top: 0;
}
.navigation{
background-color: #3AAFA9;
color: #FEFFFF;
font-size:30px;
font-weight: bolder;
position:relative;
width: 100%;
height: 85px;
}
#img{
    width: 70px;
    height:70px;
    padding:5px 10px 0px 15px;
}
#title{
    position: absolute;
    top:20px;
}
#search{
    position: absolute;
    
    top:20px;
    right:85px;
    width: 40px;
    height:40px;
}
#menu{
    position: absolute;
    top:20px;
    right:18px;
    width: 38px;
    height:40px;
}